NET "clk" LOC = P26;
NET "clk" PERIOD = 39700 ps;
NET "rst" LOC = Y16;
#NET "p1_up" LOC = J17;
#NET "p1_down" LOC = J15;
#NET "p1_left" LOC = J13;
#NET "p1_right" LOC = J10;
NET "p1_down" LOC = AA25 | PULLUP;
NET "p1_up" LOC = AA24 | PULLUP;
NET "p1_right" LOC = U20 | PULLUP;
NET "p1_left" LOC = V21 | PULLUP;
NET "p1_bomb" LOC = U18 | PULLUP;
NET "p2_down" LOC = T20 | PULLUP;
NET "p2_up" LOC = U21 | PULLUP;
NET "p2_right" LOC = Y23 | PULLUP;
NET "p2_left" LOC = Y22 | PULLUP;
NET "p2_bomb" LOC = Y25 | PULLUP;
NET "hsync" LOC = K26;
NET "vsync" LOC = K25;
NET "red_0" LOC = L20;
NET "red_1" LOC = K20;
NET "red_2" LOC = F25;
NET "red_3" LOC = F24;
NET "green_0" LOC = M19;
NET "green_1" LOC = M18;
NET "green_2" LOC = J23;
NET "green_3" LOC = J22;
NET "blue_0" LOC = L22;
NET "blue_1" LOC = K21;
NET "blue_2" LOC = G23;
NET "blue_3" LOC = G24;
