//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 23 13:05:13 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P26" LEVEL 1;
COMP "rst" LOCATE = SITE "Y16" LEVEL 1;
COMP "red_0" LOCATE = SITE "L20" LEVEL 1;
COMP "red_1" LOCATE = SITE "K20" LEVEL 1;
COMP "red_2" LOCATE = SITE "F25" LEVEL 1;
COMP "red_3" LOCATE = SITE "F24" LEVEL 1;
COMP "green_0" LOCATE = SITE "M19" LEVEL 1;
COMP "green_1" LOCATE = SITE "M18" LEVEL 1;
COMP "green_2" LOCATE = SITE "J23" LEVEL 1;
COMP "green_3" LOCATE = SITE "J22" LEVEL 1;
COMP "hsync" LOCATE = SITE "K26" LEVEL 1;
COMP "vsync" LOCATE = SITE "K25" LEVEL 1;
COMP "vga_right" LOCATE = SITE "J10" LEVEL 1;
COMP "blue_0" LOCATE = SITE "L22" LEVEL 1;
COMP "blue_1" LOCATE = SITE "K21" LEVEL 1;
COMP "blue_2" LOCATE = SITE "G23" LEVEL 1;
COMP "blue_3" LOCATE = SITE "G24" LEVEL 1;
COMP "vga_up" LOCATE = SITE "J17" LEVEL 1;
COMP "vga_left" LOCATE = SITE "J13" LEVEL 1;
COMP "vga_down" LOCATE = SITE "J15" LEVEL 1;
SCHEMATIC END;

